body {
  background-color: #eceff1;
}

.card {
  margin-top: 5vh;
}

a {
  size: 2em;
}

#navbar {
  background-color: #a7cdcc;
}

#navbar a {
  margin-left: 2vw;
}

#navbar p {
  border: 2px solid #fff;
  padding: 2px 4px;
  text-align: center;
}

#home-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#send-question-btn,
#send-answer-btn {
  width: 100%;
}
